@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
@import url(https://db.onlinewebfonts.com/c/d95bf2f30035a050142565e03d44da71?family=Aeonik);

@import "tailwindcss";

@theme {
  --font-dm: "DM Sans", sans-serif;
  --font-heading: "Aeonik", sans-serif;
  --color-black1: #222222;
  --color-black2: #2d2d2d;
  --color-black3: #070708;
  --color-gray1: #e2e2e2;
}

@layer base {
  button {
    @apply cursor-pointer;
  }
  * {
    @apply m-0 p-0 box-border;
  }
  h1,
  h2,
  h3,
  h4 {
    @apply font-heading;
  }
}

:root {
  --animation-ease: cubic-bezier(0.19, 1, 0.22, 1);
}

html {
  width: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-dm);
  min-height: 100vh;
  color: var(--color-black2);
}

.anim-exit {
  animation: slideLeft 0.5s var(--animation-ease) forwards;
}
.anim-reveal {
  animation: slideRight 0.5s var(--animation-ease) forwards;
}

@keyframes slideLeft {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-120%);
  }
}
@keyframes slideRight {
  from {
    transform: translateX(120%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slideUp {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-120%);
  }
}

@keyframes slideDown {
  from {
    transform: translateY(800px);
  }
  to {
    transform: translateY(0);
  }
}

@media Screen and (width >= 768px) {
  .anim-exit {
    animation: slideUp 0.5s var(--animation-ease) forwards;
  }
  .anim-reveal {
    animation: slideDown 0.5s var(--animation-ease) forwards;
  }
}
